Source: hiera
Section: utils
Priority: extra
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Original-Maintainer: Puppet Labs <info@puppetlabs.com>
Build-Depends: debhelper (>= 7.0.0), cdbs, quilt, ruby | ruby-interpreter
Standards-Version: 3.9.2
Homepage: http://projects.puppetlabs.com/projects/hiera
XS-Pexip-Upstream: http://apt.puppetlabs.com/ precise

Package: hiera
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, libjson-ruby | ruby-json
Description: A simple pluggable Hierarchical Database.
	Hiera is a simple pluggable Hierarchical Database.
